<div class="btn-toolbar">
    <div class="year-select btn-group">
        <button class="btn btn-default" disabled>{{ current.year }}</button>
        <button class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="y in years" ng-click="current.year = y">
                <a href="#" data-month="{{ $index }}">{{ y }}</a>
            </li>
        </ul>
    </div>
    <div class="month-select btn-group">
        <button class="btn btn-default" disabled>{{ months[current.month] }}</button>
        <button class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="m in months" ng-click="current.month = $index">
                <a href="#" data-month="{{ $index }}">{{ m }}</a>
            </li>
        </ul>
    </div>
</div>