<div ng-repeat="d in headers" class="header">{{d}}</div>
<div ng-repeat="week in weeks">
    <div class="day btn btn-primary" 
        ng-repeat="d in week"
        ng-class="{currentMonth: d.isCurrentMonth}">
        {{ d.weekday }}&nbsp; {{ d.dayNum }}
    </div>
</div>

<style>
    .header,
    .day {
        width: 100px;
        margin: 1px;
        padding: 5px;
        display: inline-block;
    }
    .day {
        height: 100px;
        color: white;
    }
    .day.currentMonth {
        background-color: white;
        color: #357ebd;
    }
    .day.currentMonth:hover {
        background-color: #69abea;
    }
</style>