<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default" disabled>April</button>
        <button class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="m in months">
                <a href="#" data-month="{{$index}}">{{m}}</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" disabled>2014</button>
        <button class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="y in years">
                <a href="#" data-month="{{$index}}">{{y}}</a>
            </li>
        </ul>
    </div>
</div>